<p id="notice"><%= notice %></p>

<h1>Results</h1>
<p>This could take a while, depending on the Crowdworkers</p>
<table class = table table-bordered>
  <thead>
    <tr>
      <th>Author</th>
      <th>Body</th>
      <th>Appropriateness</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.author %></td>
        <td><%= tweet.body %></td>
        <td><%= tweet.approp_score %></td>
   </tr>
    <% end %>
  </tbody>
</table>
